<footer class="site-footer">

      {% if site.supporters %}
      <div class="supporters">
        <h6>Supported by</h6>
        {% for supporter in site.supporters %}
          {% if supporter.footer_logo %}
          <a{% if supporter.url %} href="{{ supporter.url }}" rel="external"{% endif %}><img src="{{ site.baseurl }}/img/supporters/{{ supporter.footer_logo }}" alt="{{ supporter.name }}"></a>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>

        {% endif %}
        {% if site.contact %}
        <li class="discuss"><a href="{{ site.contact }}" rel="external"><span>Contact</span></a></li>
        {% endif %}
        {% if site.github_repo %}
        <li class="source"><a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}" rel="external"><span class="text">Source</span></a></li>
        {% endif %}
      </ul>
    </div>

  </div>
</footer>
